/* imports de fontes */

/* reset CSS */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* classes genericas */
.layout-grid{
    width: 80%;
    height: 100%;
    margin: 0% auto;
}

body {
    background-color:red;
}

/* mobile first */

/* HEADER */
header {
    background-color:#1B1426;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contatos {
    display: flex;
    align-items: center;
    
}

.phone {
    display: flex;

}

.mail {
    display: flex;
    padding-left: 20px;
}

.menu {
    color: white;
}

header .header-top {
    display: none;
}

header .menu {
    display: none;
}

header .icons {
    display: none;
}




